.text {
  margin: 0;
  padding: 0;
}

.small {
  font-size: 16px;
}

.medium {
  font-size: 20px;
}

.large {
  font-size: 24px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}
